.post {
  background-color: var(--gray-100);
  color: var(--gray-0);
  padding: 2--spx;
  margin: auto;
  text-align: start;
  min-height: 100%;
}

.title {
  margin: 0 0 0.5--spx;
}

.content {
  margin-top: 2--spx;
}

.content code {
  background-color: var(--gray-80);
}

.error {
  padding: 2--spx;
  min-height: 100%;
}

@media screen and (min-width: 800px) {
  .post {
    max-width: 752px;
  }
}
