.blog-post__post {
  background-color: white;
  color: black;
  padding: 24px;
  margin: auto;
  text-align: start;
}

.blog-post__content {
  margin-top: 24px;
}

.blog-post__error {
  padding: 24px;
}

@media screen and (min-width: 800px) {
  .blog-post__post {
    max-width: 752px;
  }
}
