.blog-post__post {
  background-color: white;
  color: black;
  padding: 2--spx;
  margin: auto;
  text-align: start;
  min-height: 100%;
}

.blog-post__content {
  margin-top: 2--spx;
}

.blog-post__content code {
  background-color: #dddddd;
}

.blog-post__error {
  padding: 2--spx;
  min-height: 100%;
}

@media screen and (min-width: 800px) {
  .blog-post__post {
    max-width: 752px;
  }
}
