.blog-filter {
  padding-inline: 2--spx;
  margin-block: 2--spx;
  text-align: start;
}

.category-input {
  margin: 1--spx 2--spx;
  padding: 1--spx;
  display: block;
  border-radius: var(--bs-border-radius);
  background-color: white;
  color: black;
  user-select: none;
  text-align: start;
}

.category-input:hover {
  background-color: #eeeeee;
}

.category-input:active {
  background-color: #dddddd;
}

.category-input__checked {
  color: white;
  background-color: var(--theme-main);
}

.category-input__checked:hover {
  background-color: #e22600;
}

.category-input__checked:active {
  background-color: #c62201;
}

.category-input--name {
  font-weight: bold;
  font-style: normal;
}

.category-input--checkbox {
  margin-inline-end: 1ch;
}
