.intro {
  margin-inline: auto;
  max-width: 752px;
  font-size: large;
  margin-bottom: 4--spx;
}

.brandBar {
  max-width: 752px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2--spx;
  font-size: 3--spx;
}

.container {
  padding: 4--spx;
}

.containerWhite {
  background-color: var(--gray-100);
  color: var(--gray-0);
}

.containerTheme {
  background-color: var(--theme-50);
}

.pageWidth {
  max-width: 752px;
  margin-inline: auto;
}
