.homepage__intro {
  margin-inline: auto;
  max-width: 752px;
  font-size: large;
  margin-bottom: 48px;
}

.homepage__brand-bar {
  max-width: 752px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  font-size: 36px;
}

.homepage__container {
  padding: 48px;
}

.homepage__container--white {
  background-color: white;
  color: black;
}

.homepage__container--theme {
  background-color: var(--theme-main);
}

.homepage--max-width {
  max-width: 752px;
  margin-inline: auto;
}
