.intro {
  margin-inline: auto;
  max-width: 752px;
  font-size: large;
  margin-bottom: 4--spx;
}

.container {
  padding: 4--spx;
}

.containerWhite {
  background-color: var(--gray-100);
  color: var(--gray-0);
}

.containerTheme {
  background-color: var(--theme-50);
}

.pageWidth {
  max-width: 752px;
  margin-inline: auto;
}

.brandBar {
  max-width: 752px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2--spx;
  font-size: 3--spx;
}

.brandIcon:hover {
  scale: 1.2;
}

.brandIconTooltip {
  color: var(--gray-0);
  background-color: var(--gray-100);
  visibility: hidden;
  position: absolute;
  font-size: small;
  top: 120%;
  left: 50%;
  margin-left: -43px;
  padding: 0.5--spx;
  border-radius: 3px;
  width: 86px;
}

.brandIconTooltip::before {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--gray-100) transparent;
}

.brandIcon:hover ~ .brandIconTooltip {
  visibility: visible;
}
