.homepage__intro {
  margin-inline: auto;
  max-width: 752px;
  font-size: large;
  margin-bottom: 4--spx;
}

.homepage__brand-bar {
  max-width: 752px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2--spx;
  font-size: 3--spx;
}

.homepage__container {
  padding: 4--spx;
}

.homepage__container--white {
  background-color: var(--gray-100);
  color: var(--gray-0);
}

.homepage__container--theme {
  background-color: var(--theme-50);
}

.homepage__max-width {
  max-width: 752px;
  margin-inline: auto;
}
