.card {
  max-width: 752px;
  margin: 2--spx;
  padding: 2--spx;
  background-color: var(--gray-100);
  color: var(--gray-0);
  border-radius: var(--bs-border-radius);
  text-align: left;
}

.link {
  text-decoration: none;
  color: var(--gray-0);
}

.title {
  margin: 0 0 0.5--spx;
}

.title:hover {
  text-decoration: underline;
}

.summary {
  margin-top: 1--spx;
}
