.welcome-box__container {
  padding: 2--spx 3--spx;
  margin: auto;
  width: min-content;
  min-height: 100%;
  display: flex;
  align-items: center;
}

.welcome-box__message {
  text-align: left;
  /* perspective: 1000px; */
  margin: none;
}

.welcome-box__message--highlight {
  background-color: var(--theme-main);
  padding: 0.5--spx 1--spx;
  margin-block: 0.5--spx;
  margin-inline: -1--spx;
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 1.5em;
}

.welcome-box__message--highlight::first-letter {
  color: black;
}

.welcome-box__message--highlight.show {
  animation: flip-in 0.5s;
  transform-style: preserve-3d;
  transform: rotateX(0deg);
}

.welcome-box__message--highlight.wait {
  transform: rotateX(90deg);
}

@keyframes flip-in {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
