.welcome-box__container {
  padding: 24px 36px;
  margin: auto;
  width: min-content;
  height: 100vh;
}

.welcome-box__message {
  text-align: left;
  perspective: 1000px;
}

.welcome-box__message--highlight {
  background-color: var(--theme-main);
  padding: 6px 12px;
  margin-block: 6px;
  margin-inline: -12px;
  display: inline-block;
  font-family: "Roboto Mono";
  font-weight: bold;
  font-size: 1.5em;
  animation: flip-in 0.5s;
  transform-style: preserve-3d;
}

.welcome-box__message--highlight::first-letter {
  color: black;
}

@keyframes flip-in {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
