.post-data__icon {
  margin-inline-end: 0.5rem;
}

.post-data__category {
  display: inline-block;
  color: var(--gray-0);
  padding: 0 0.25--spx;
  border-radius: 0.25--spx;
  border: 1px solid var(--gray-0);
  margin: 0 0 0.25--spx;
}

.post-data__details {
  font-size: smaller;
}
