.brand-icon__icon:hover {
  scale: 1.2;
}

.brand-icon__tooltip {
  color: black;
  background-color: white;
  visibility: hidden;
  position: absolute;
  font-size: small;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  top: 120%;
  left: 50%;
  margin-left: -43px;
  padding: 0.5--spx;
  border-radius: 3px;
  width: 86px;
}

.brand-icon__tooltip::before {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.brand-icon__icon:hover .brand-icon__tooltip {
  visibility: visible;
}
