@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

:root {
  --theme-main: #ff2a00;
  --theme-1: white;
  --bs-link-color: var(--theme-1);
  --bs-link-hover-color: var(--theme-1);
  --bs-nav-tabs-border-color: var(--theme-1);
}

body {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url("/public/background.png");
  background-attachment: fixed;  
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

p {
  margin-bottom: 24px;
}

form {
  padding: 24px;
}

.form-group {
  text-align: left;
  margin: auto;
  max-width: 500px;
  margin-bottom: 24px;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

ul {
  text-align: left;
}

div.nav-link:hover {
  cursor: pointer;
}

.btn-primary {
  margin: auto;
  --bs-btn-color: var(--theme-1);
  --bs-btn-active-color: var(--theme-1);
  --bs-btn-bg: #ff2a00;
  --bs-btn-border-color: #ff2a00;
  --bs-btn-hover-bg: #e22600;
  --bs-btn-hover-border-color: #e22600;
  --bs-btn-active-bg: #c62201;
  --bs-btn-active-border-color: #c62201;
  --bs-btn-disabled-bg: #ff2a00;
  --bs-btn-disabled-border-color: #ff2a00;
}

.bg-theme {
  color: var(--theme-1);
  background-color: var(--theme-main);
}

.bg-transparent {
  color: white;
}

.bg-white {
  background-color: white;
  color: black;
}

.navbar-nav {
  --bs-navbar-active-color: var(--theme-1);
  --bs-nav-link-color: var(--theme-1);
  --bs-nav-link-hover-color: var(--theme-1);
}

a.nav-link {
  width: 90px;
  font-weight: bold;
}

.g-4 {
  margin: 0px 0px 24px;
}

.card {
  height: 100%;
}

.card-img-top {
  margin-bottom: 8px
}

.card-subtitle {
  margin-bottom: 8px;
}

.card-text {
  text-align: left;
}

.git-icon {
  margin-right: 10px;
}

.about-content {
  padding: 24px;
  margin: 0px 24px;
}

.fill-height-with-nav-square {
  height: min(calc(100vh - 82px), 100vw);
  max-width: 100%;
  overflow: hidden;
}

.vertical-center {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 0px;
  margin-bottom: 0px;
}

.welcome-body {
  padding: 48px;
  width: 100%;
  font-size: large;
  margin: 0px;
}

.welcome-box {
  text-align: left;
  margin: 12px 12px;
  display: inline-block;
}

@media screen and (min-width: 800px) {
  .fix-width {
    width: 752px;
    margin: auto;
  }
}

.welcome-line-logo {
  font-size: min(13vw, 13vh);
  font-family: "Roboto Mono";
  font-weight: bold;
  background-color: var(--theme-main);
  display: inline-block;
  margin: 5px 0px;
  padding: 6px 12px;
}

.welcome-line-logo::first-letter {
  color: black;
}

.welcome-line {
  font-size: min(7vw, 7vh);
  display: inline-block;
  text-indent: calc(12px + 0.3ch);
}


@keyframes slide-in-from-left {
  0% {left: -100vw;}
  50% {left: +20px;}
  100% {left: 0px;}
}

.slide-in-from-left {
  position: relative;
  left: 0px;
  animation: slide-in-from-left 4s;
  -webkit-animation: slide-in-from-left 4s; /* Safari and Chrome */
}

@keyframes slide-in-from-right {
  0% {left: +100vw;}
  50% {left: -20px;}
  100% {left: 0px;}
}

.slide-in-from-right {
  position: relative;
  left: 0px;
  animation: slide-in-from-right 4s;
  -webkit-animation: slide-in-from-right 4s; /* Safari and Chrome */
}

@keyframes slide-up-from-bottom-home {
  0% { transform: translateY(calc(100vh - min(calc(100vh - 82px), 100vw)));}
}

@-webkit-keyframes slide-up-from-bottom-home {
  0% { -webkit-transform: translateY(100vh - min(calc(100vh - 82px), 100vw));}
}

.slide-up-from-bottom-home {
  transform: translateY(0vh);
  -webkit-transform: translateY(0vh);
  animation: slide-up-from-bottom-home 2s;
  -webkit-animation: slide-up-from-bottom-home 2s; /* Safari and Chrome */
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

@keyframes slide-up {
  0% { transform: translateY(100vh);}
}

@-webkit-keyframes slide-up {
  0% { -webkit-transform: translateY(100vh);}
}

.slide-up {
  animation: slide-up 1s;
  animation-fill-mode: backwards;
}

@keyframes fade-in {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

.fade-in {
  animation: fade-in 2s;
  animation-fill-mode: backwards;
}