@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css");
@import "./colors.css";

:root {
  --bs-emphasis-color-rgb: var(--gray-100);
  --bs-link-color: var(--gray-100);
  --bs-link-hover-color: var(--gray-100);

  /* Custom Units */
  --spx: 12px; /* Spacing pixel - used for margins and padding */
}

body {
  color: var(--gray-100);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--gray-10); /*Fallback*/
  background-image: url("/background.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  min-width: min-content;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

ul {
  text-align: left;
}

.btn-primary {
  --bs-btn-color: var(--gray-100);
  --bs-btn-active-color: var(--gray-100);
  --bs-btn-bg: var(--theme-50);
  --bs-btn-border-color: var(--theme-50);
  --bs-btn-hover-bg: var(--theme-40);
  --bs-btn-hover-border-color: var(--theme-40);
  --bs-btn-active-bg: var(--theme-30);
  --bs-btn-active-border-color: var(--theme-30);
  --bs-btn-disabled-bg: var(--theme-50);
  --bs-btn-disabled-border-color: var(--theme-50);
}
