@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css");

:root {
  --theme-main: #ff2a00;
  --theme-1: white;
  --bs-emphasis-color-rgb: var(--theme-1);
  --bs-link-color: white;
  --bs-link-hover-color: white;
}

.nav-link {
  cursor: pointer;
  --bs-nav-link-font-weight: 700;
}

body {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #181818; /*Fallback*/
  background-image: url("/background.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

p {
  margin-bottom: 24px;
}

form {
  padding: 24px;
}

.form-group {
  text-align: left;
  margin: auto;
  max-width: 500px;
  margin-bottom: 24px;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

ul {
  text-align: left;
}

.btn-primary {
  margin: auto;
  --bs-btn-color: var(--theme-1);
  --bs-btn-active-color: var(--theme-1);
  --bs-btn-bg: #ff2a00;
  --bs-btn-border-color: #ff2a00;
  --bs-btn-hover-bg: #e22600;
  --bs-btn-hover-border-color: #e22600;
  --bs-btn-active-bg: #c62201;
  --bs-btn-active-border-color: #c62201;
  --bs-btn-disabled-bg: #ff2a00;
  --bs-btn-disabled-border-color: #ff2a00;
}

.bg-theme {
  color: var(--theme-1);
  background-color: var(--theme-main);
}

.bg-transparent {
  color: white;
}

.bg-white {
  background-color: white;
  color: black;
}

.g-4 {
  margin: 0px 0px 24px;
}

.card {
  height: 100%;
}

.card-img-top {
  margin-bottom: 8px;
  border-bottom: 1px solid var(--bs-border-color);
}

.card-subtitle {
  margin-bottom: 8px;
}

.card-text {
  text-align: left;
}

.card-img-overlay {
  text-align: left;
  height: 36px;
}

.portfolio-icon {
  font-size: 24px;
  background-color: var(--theme-main);
  background-blend-mode: multiply;
  color: black;
  width: 36px;
  height: 36px;
  line-height: 1.5;
  text-align: center;
  border-radius: 6px;
  margin-right: 6px;
  display: inline-block;
}

.fa-brands {
  display: inline-block;
}

i[class*=" fi-brands-"]:before {
  display: inline-block;
  transform: translate(0px, 3px);
  position: relative;
}

.git-icon {
  margin-right: 10px;
}

.about-content {
  padding: 24px;
  margin: 0px 24px;
}

.fill-height-with-nav-square {
  height: min(calc(100vh - 82px), 100vw);
  max-width: 100%;
  overflow: hidden;
}

.fill-height-with-nav-footer {
  height: calc(100vh - 190px);
}

.vertical-center {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (min-width: 800px) {
  .fix-width {
    width: 752px;
    margin: auto;
  }
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.fade-in {
  animation: fade-in 2s;
  animation-fill-mode: backwards;
}

.brand-icon {
  font-size: 36px;
  margin: 0.2em 0.2em;
  width: 1.5em;
}

.brand-icon:hover {
  scale: 1.2;
}

.brand-icon-tooltip {
  color: black;
  background-color: white;
  visibility: hidden;
  position: absolute;
  font-size: small;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  top: 120%;
  left: 50%;
  margin-left: -43px;
  padding: 6px;
  border-radius: 3px;
  width: 86px;
}

.brand-icon-tooltip::before {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.brand-icon:hover .brand-icon-tooltip {
  visibility: visible;
}

.welcome-body {
  padding: 48px;
  width: 100%;
  font-size: large;
  margin: 0px;
}
