.blog-home__intro {
  background-color: white;
  color: black;
  padding: 2--spx;
}

.blog-home__max-width {
  max-width: 752px;
  margin-inline: auto;
}

.blog-home__intro-text {
  margin-bottom: 0px;
}

.blog-home__post-list {
  margin-bottom: 2--spx;
}
