.blogTitle {
  margin: 0 0 0.5--spx;
}

.blogIntro {
  background-color: var(--gray-100);
  color: var(--gray-0);
  padding: 2--spx;
}

.pageWidth {
  max-width: 752px;
  margin-inline: auto;
}

.blogIntroText {
  margin-bottom: 0px;
}

.blogPostList {
  margin-bottom: 2--spx;
}
