.portfolio {
  display: grid;
  gap: 2--spx;
  margin: 2--spx;
}

@media screen and (min-width: 780px) {
  .portfolio {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .portfolio {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
